  /* Estilos de cabecera */
  header {
    padding-top: 20px;
    padding-bottom: 20px;
    width:100%;
    color: white;
    background-color: #34626C;
    z-index:10;
    display: flex;
    justify-content: center;
 
    .titulo{
      font-size: 4em;
      font-weight: bold;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

}
